// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

//variables
@header-font: "Arvo";
@main-font: "work sans";
@background-color: #2f4f4f;
@main-color: #fff;

//mixins
.top-section() {
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 80%;

  // for tablet
  @media screen and (max-width: 768px) {
    width: 90%;
  } //media queries for tablet ends here

  //for mobile
  @media screen and (max-width: 480px) {
    width: 100%;
  } //media queries for mobile ends here
}

header {
  border: 5px solid black;
  width: 100%;
  background-color: @background-color;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //for tablet
  @media screen and (max-width: 768px) {
    flex-direction: column;
  } //media queries for tablet for header ends here

  .logo-container {
    border: 2px solid black;
    width: 28%;
    padding: 1%;

    //for tablet
    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: center;
      margin-bottom: 3%;
    } //media queries for tablet for logo-container ends here

    h1 {
      font-size: 2.3rem;
      font-weight: 700;
      font-family: @header-font;
      color: #fff;
    } //h1  ends here
  } //logo container ends here

  nav {
    border: 2px solid black;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 2%;

    //for tablet
    @media screen and (max-width: 768px) {
      width: 100%;
    } //media queries for tablet for nav ends here

    //for mobile
    @media screen and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
    } //media queries for mobile for nav ends here

    a {
      font-size: 1.5rem;
      color: @main-color;
      font-family: @main-font;
      text-decoration: none;
      letter-spacing: 0.1rem;
      font-weight: 500;

      //for mobile
      @media screen and (max-width: 480px) {
        margin: 2% 0;
        font-size: 1rem;
      } //media queries for mobile for a ends here
    } //a ends here
  } //nav ends here
} //header container ends here
